{{ partial "head.html" . }}
<div id="wrapper" class="toggled">
{{ partial "sidebar.html" . }}
<div class="col-12">
  {{ partial "navToggle.html" . }}
  <div class="row main-content">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <br />
      <br />
      <div class="row">
        
        {{ range .Data.Pages }}
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block">
                <h2 class="card-title">{{ .Title }}</h2>
                <h6 class="card-test"></h6>
                <br />
                <ul style="list-style-type: none;">
                  <li>
                    <h4>
                      <p>{{ .Description }}</p>
                    </h4>
                    <a href="{{ .Permalink }}" class="btn btn-default">Tutorial</a>
                    <a href="{{ .Params.github_url }}" class="btn btn-primary">View on GitHub</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{ end }}
      
      </div>      
    </div>
  </div>
</div>
{{ partial "foot.html" . }}
