{{ partial "head.html" . }}
<div id="wrapper" class="toggled">
{{ partial "sidebar.html" . }}
<div class="col-12">
  {{ partial "navToggle.html" . }}
  <div class="row main-content">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <br />
      <br />
      <div class="row">
        
        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <h2 class="card-title">Simulation</h2>
                <h6 class="card-test">Difficulty Level: Beginner</h6>
                <br />
                <ol>
                {{ range .Data.Pages }}
                  {{ if eq .Params.tut_category "simulation" }}
                    <li>
                      <h4>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                      </h4>
                    </li>
                  {{ end }}
                {{ end }}
                </ol>
              </div>
            </div>
          </div>
          
        
          <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <h2 class="card-title">Modeling</h2>
                <h6 class="card-test">Difficulty Level: Beginner</h6>
                <br />
                <ol>
                {{ range .Data.Pages }}
                  {{ if eq .Params.tut_category "modeling" }}
                    <li>
                      <h4>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                      </h4>
                    </li>
                  {{ end }}
                {{ end }}
                </ol>
              </div>
            </div>
          </div> 
      </div>      
    </div>
  </div>
</div>
{{ partial "foot.html" . }}
