{{ partial "head" . }}
<div id="wrapper" class="toggled">
{{ partial "sidebar.html" . }}
<div class="col-12">
  {{ partial "navToggle.html" . }}
  <div class="row main-content">
    <div class="col-xl-10">
        <a href="{{ .Site.BaseURL }}tutorials/"> < Back to Tutorials</a>
        <br />
        <br />
        <div class="card">
          <div class="card-block">
          <h1 class="card-title">{{ .Title }}</h1>
          <h4>Published: {{ .Date.Format "January 2, 2006" }}</h4>
          {{ if (isset .Params "lastmod") }}
            <h4>Last Updated: {{ .Lastmod.Format "January 2, 2006" }}</h4>
          {{ end }}
          <br />
          <br />
            {{ .Content | safeHTML }}
            <br />
            {{ partial "comments.html" . }}
          </div>
        </div>
    </div>
  </div>
{{ partial "foot.html" . }}